# Normal stuff
*.o
*.a
*.so
*.lo
*.la
*.pc
.deps/
.libs/
build/

# Automake
Makefile
Makefile.in
autom4te.cache
aclocal.m4
libtool
stamp-h1
configure
config.*
*.substvars
ltmain.sh
missing
install-sh
depcomp
INSTALL

# kdevelop
*.kdevelop.pcs
*.kdevses

# Doxygen documentation
Doxyfile
doc/Doxyfile
doc/html
doc/man

# examples
examples/baud_test
examples/bitbang
examples/bitbang2
examples/bitbang_cbus
examples/bitbang_ft2232
examples/find_all
examples/find_all_pp
examples/serial_read
examples/simple

# python bindings
bindings/python/setup.py

# Backup files and stuff from patches
*.orig
*.rej
*~

# libftdi specific
libftdi-config
libftdi.spec

# CMake
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# Misc. binaries
*.dylib
opt
